# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log
.yarn/*

# webstorm
.idea

.DS_Store

# packages
src
tests
test

.husky
.editorconfig
.eslintrc.cjs
.eslintrc.js
.gitignore
.npmignore
.npmrc
.pnp.cjs
.yarnrc.yml